{% extends 'layout.html'%}

{% block body  %}
{% block content  %}

{% for post in posts %}
<div class='post'>
   
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{post['code_Equipement']}}</h4>
        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
  
    </div>
  </div>
  {% endfor %} 
  <script>
  $(document).on('click', '.view_data', function(){
    var code_Equipement = $(this).attr("id");
    $.ajax({
     url:"/select",
     method:"POST",
     data:{code_Equipement:code_Equipement},
     success:function(data){
      $('#dataModal').modal('show');
      var data_rs = JSON.parse(data);
      $('#view_equipement').val(data_rs[0]['emp_name']);
     
     }
    });
   });
    
   </script>
  {% endblock %}
  
  {% endblock %}



      




